* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}
.container_header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 30%;
}
.logo {
  height: 20px;
}

.bar {
  display: flex;
  gap: 15px;
  font-size: 13px;
}
.blu {
  background-color: blue;
  font-size: 13px;
  width: 50px;
  height: 30px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
/* SECTION 1 */
.contenitore_sezione {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  padding-top: 50px;
}

.box_sezione {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  height: 650px;
  background-color: lightblue;
}

.titolo {
  width: 100%;
  font-size: 55px;
  font-weight: bold;
  display: flex;
  background-color: lightblue;
  align-items: center;
}
.container_info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  /* debug*/
  width: 30%;
  background-color: lightblue;
}
.jumbo {
  background-image: url(img/jumbo.png);
  background-size: 100%;
  width: 70%;
  height: 65%;
}
.text {
  background-color: lightblue;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  color: white;
  width: 200px;
  height: 40px;
}
/* sezione 1 */
/* sezione 2 */
.container_titolo {
  padding-top: 50px;
  display: flex;
  background-color: white;
  justify-content: center;
}
.checkbox {
  display: flex;
  width: 80%;
  background-color: white;
}

.purple {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  gap: 30px;
  background-color: white;
  /* height: 1500px; */
}
.piano {
  display: inline-block;
  text-align: center;
  width: 100%;
  border: solid black 1px;
  margin-bottom: 30px;
}
.columns {
  display: flex;
  flex-direction: row;
  height: 800px;
  width: 60%;
  font-size: 12px;
}
.colonna {
  height: 100%;
  margin: 0 10px;
  padding: 20px;
  width: calc((100% / 3) - 20px);
  border: solid black 1px;
}

.fa-check {
  color: purple;
}
.box_offerta div {
  margin-bottom: 20px;
}

.prezzo {
  margin-bottom: 50px;
}

.box_offerta .button {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  height: 25px;
}
.box_offerta li {
  margin-top: 20px;
}
.box_enterprise {
  height: 100%;
  width: 60%;
  font-size: 12px;
  border: solid grey 1px;
}
.enterprise {
  text-align: center;
  border-bottom: solid 1px grey;
  padding: 10px;
}
.enterprise_contenitore {
  padding: 20px 20px;
}
.off {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.info_off {
  display: flex;
  flex-direction: column;
}
.info_off h2 {
  margin-bottom: 10px;
}
.ca span {
  font-weight: bold;
  margin-bottom: 40px;
}
.elenco {
  margin-top: 80px;
}
/* sezione 2  */

/* sezione 3  */
.container_partner {
  padding: 100px;
  display: flex;
  justify-content: center;
  background-color: white;
}
.partner {
  display: flex;
  width: 70%;
}
.pic_partner {
  width: 90%;
}
.img_partner {
  flex-basis: 60%;
}
.info_partner {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  flex-basis: 40%;
}
.white {
  background-color: white;
  color: black;
  border: solid black 1px;
  width: 160px;
}
/* sezione 4  */
.container_strumenti {
  padding-top: 80px;
  background-color: white;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.strumenti {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  background-color: white;
  min-height: 300px;
}

.box_strumento {
  margin: 30px;
  flex-basis: calc((100% / 3) - 60px);
  height: 100%;
  background-color: white;
}
.img_strumento {
  width: 100%;
  height: 60%;
  background-color: white;
}
.pic_strumento {
  width: 100%;
  height: 100%;
}
/* sezione 5 */
.box_info {
  background-color: white;
  display: flex;
  justify-content: center;
}
.info {
  width: 60%;
  margin: 150px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* sezione 5 */
/* sezione 6 */
.container_tre {
  background-color: black;
  height: 400px;
  width: 100%;
  display: flex;
}
.inside {
  background-color: white;
  height: 100%;
  width: calc(100% / 3);
}
.l {
  display: flex;
  flex-wrap: wrap;
}
.l div {
  position: relative;
  width: 50%;
  height: 50%;
}
.l img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container_designit {
  width: 50%;
  margin: 40px;
}
.container_testo {
}
.c img {
  width: 100%;
}
.designit {
  background-color: aquamarine;
}
.arizona {
  background-color: darkred;
}
.florida {
  background-color: cornflowerblue;
}
.topps {
  background-color: red;
}

.wbr {
  background-color: red;
}
.hearst {
  background-color: lightblue;
}
.lonely {
  background-color: blueviolet;
}
.cc {
  background-color: yellow;
}

.container_designit {
  width: 50%;
  margin: 40px;
}
.container_testo {
  margin: 40px;
  font-size: 12px;
}
.c img {
  width: 100%;
}
.morten {
  margin: 40px;
  font-size: 12px;
}
/* sezione 6 */
/* sezione 7 */
.lightblue {
  background-color: lightblue;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
}

.info_text {
  flex-basis: 50%;
  color: brown;
}

.box_bottone {
  width: 50%;
  display: flex;
  justify-content: right;
}
.bianco {
  background-color: white;
  color: black;
}
/* sezione 7 */
/* sezione 8 */
.faq {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  height: 600px;
}
.container_domande {
  /* margin-top: 100px; */
  width: 60%;
}
.col_domande {
  height: 300px;
  margin-top: 50px;
}

.domande {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  height: calc(100% / 3);
  background-color: white;
  font-size: 12px;
  font-weight: bold;
}
.tendina {
  margin-right: 20px;
}
/* sezione 8 */

/* footer */
footer {
  min-height: 500px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row_footer {
  width: 70%;
  display: flex;
  /* background-color: red; */
  min-height: 250px;
}

.box_link {
  /* background-color: pink; */
  width: calc((100% / 3) - 40px);
  margin-right: 10px;
  color: white;
}
.e {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  gap: 20px;
  font-size: 12px;
  font: bold;
}
/* footer */
