* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container_header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 30%;
}
.logo {
  height: 20px;
}

.bar {
  display: flex;
  gap: 15px;
  list-style: none;
  font-size: 13px;
}
.blu {
  background-color: blue;
  font-size: 13px;
  width: 50px;
  height: 30px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
/* SECTION 1 */
.contenitore_sezione {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  padding-top: 50px;
}

.box_sezione {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  height: 650px;
  background-color: lightblue;
}

.titolo {
  width: 100%;
  font-size: 55px;
  font-weight: bold;
  display: flex;
  background-color: lightblue;
  align-items: center;
}
.container_info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  /* debug*/
  width: 30%;
  background-color: lightblue;
}
.jumbo {
  background-image: url(img/jumbo.png);
  background-size: 100%;
  width: 70%;
  height: 77%;
}
.text {
  background-color: lightblue;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: white;
  width: 200px;
  height: 40px;
}
/* SECTION 1 */
